aclocal.m4
autom4te.cache/
m4/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
test-driver
Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
*.mod
*~
\#*\#
**/*.exe
arkimet/postprocessors/seriet
ar-lib
compile
chimere/src/**/.dirstamp
